ase==3.21.1
backcall==0.2.0
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
cycler==0.10.0
decorator==4.4.2
fastcore==1.3.20
googledrivedownloader==0.4
greenlet==1.1.0
h5py==3.1.0
idna==2.10
importlib-metadata==4.5.0
ipython==7.24.1
ipython-genutils==0.2.0
isodate==0.6.0
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
kiwisolver==1.3.1
llvmlite==0.36.0
MarkupSafe==2.0.1
matplotlib==3.3.4
matplotlib-inline==0.1.2
mendeleev==0.7.0
networkx==2.5.1
numba==0.53.1
numpy==1.19.5
packaging==20.9
pandas==1.1.5
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
pkg-resources==0.0.0
prompt-toolkit==3.0.18
ptyprocess==0.7.0
PubChemPy==1.0.4
pyfiglet==0.8.post1
Pygments==2.9.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-louvain==0.15
pytz==2021.1
rdflib==5.0.0
requests==2.25.1
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
SQLAlchemy==1.4.18
threadpoolctl==2.1.0
torch==1.8.1
torch-cluster==1.5.9
torch-geometric==1.7.0
torch-scatter==2.0.6
torch-sparse==0.6.9
torch-spline-conv==1.2.1
tqdm==4.61.0
traitlets==5.0.5
typing-extensions==3.10.0.0
urllib3==1.26.5
wcwidth==0.2.5
zipp==3.4.1
